@import url('http://fonts.googleapis.com/css?family-Poppins:200,300,400,500,600,700,800,900&display=swap');*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #000000;
}
.titulo{
    font-size: calc(5px + 9vh);
    margin-top: -30px;
    margin-bottom: 30px;
    text-shadow: 0 0 5px #000000, 0 0 15px #000000, 0 0 20px #0a0a0a, 0 0 40px #ffa500, 0 0 60px #000000, 0 0 10px #ff8d00, 0 0 98px #000000;
    color: #fffdfd;
    font-family: "Sacramento", cursive;
    text-align: center;
    -webkit-animation: pulsate-bck 1s ease-in-out infinite both;
  animation: pulsate-bck 1s ease-in-out infinite both;
  }
  
  
  
.container {
     position: relative;
     background: #2f363e;

     border-radius: 20px;
     border-top-left-radius: 220px;
     border-top-right-radius: 220px;
     box-shadow: 10px 10px 40px rgba(255, 125, 39, 0.75),
     10px 10px 40px rgba(255, 125, 39, 0.75),
     inset 5px 5px 10px rgba(0, 0, 0, 0.5),
     inset 5px 5px 10px rgba(0, 0, 0, 0.2),
     inset -5px -5px 15px rgba(0, 0, 0, 0.75);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.reloj {
     position: relative;
     width: 450px;
     height: 450px;
     background: #2f363e;
     border-radius: 50%;
     box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
     inset 5px 5px 10px rgba(0,0,0,0.5),
     inset 5px 5px 10px rgba(0, 0, 0, 0.2),
     inset -5px -5px 15px rgba(0,0,0,0.75);
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 30px;
}
.reloj::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2f363e;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 100000;
}
.reloj span{
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    /* rotacion 360 de los numeros/ 12 * 30deg */
    transform: rotate(calc(30deg * var(--i)));
}
.reloj span b{
    font-size: 2em;
    opacity: 0.25;
    font-weight: 600;
    display: inline-block;
    /* rota los numeros para que todos quedes derechos hacia arriba/ 12 * 30deg */
    transform: rotate(calc(-30deg * var(--i)));
}
.circulo{
    position: absolute;
    width: 260px;
    height: 260px;
    border: 2px solid #2f363e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
.circulo i{
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
}
.circulo:nth-child(1) i{
    width: 2px;
}
.circulo:nth-child(2) i{
    width: 6px;
}
.circulo2{
    width: 240px;
    height: 240px;
    z-index: 9;
}
.circulo3{
    width: 200px;
    height: 200px;
    z-index: 8;
}
.circulo::before{
    content: '';
    position: absolute;
    top: -8.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
    0 0 50px var(--clr);
}

/*estilos del reloj digital*/
#tiempo{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);

}
#tiempo div{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--clr);
}
#tiempo div:nth-child(1)::after,
#tiempo div:nth-child(2)::after

{
    content: ':';
    position: absolute;
    right: -4px;
}

#tiempo div:last-child{
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* ----------- ANIMACION DE LOS DOS PUNTOS ----------------- */
#tiempo div:nth-child(2)::after{
    animation: animate 1s steps(1) infinite;
}
@keyframes animate{
    0%{
        opacity: 1;
    }
    50%{opacity: 0;

    }
}
/* ----------- ANIMACION DE LOS DOS PUNTOS ----------------- */
  /* ----------- ANIMACION DEL TITULO ----------------- */
@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  /* ----------- ANIMACION DEL TITULO ----------------- */